        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/static/admin/js/vendor/jquery/bootstrap.min.js"></script>
        <link href="/static/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/static/admin/css/bootstrap.css" rel="stylesheet" type="text/css">
		<body background="static\admin\img/1.jpg">

<html>
<head>
<link rel="stylesheet" type="text/css" href="\static\admin\css\python_hol.css">
</head>
<body>
<div id="content">
<a href="/create" class="addlink">Add New Ora </a>
{% if objects_list %}
<table id="employee_list_table" frame="hsides" rules="cols" style="border-width: 5px">
<tr>
<th>datetime</th>
<th>اسم المندوب</th>
<th>رقم الفتوره</th>
<th>	اسم السائق</th>
<th>   تاريخ الفتوره  </th>
<th>الاداره</th>
<th>Objective %</th>
<th>Action</th>
</tr>
{% for obj in objects_list %}
<tr>
<td><a href="/datetime/update/{{ obj.datetime }}/"> " {{ obj.datetime }} " </a></td>
<td>{{ obj.name_emp }}</td>
<td>{{ obj.type_no }}</td>
<td>{{ obj.driver_man }}</td>
<td>{{ obj.datetime }}</td>
<td>{{ obj.management }}</td>
<td>{{ obj.objective }}</td>
<td><a href="/datetime/delete/{{ obj.type_no }}/">Delete | "{{obj.type_no}}"</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No orashipping found.</p>
{% endif %}


<div style="margin-top:11px;"/>
{% if page_range %}
<ul class="detail">
{% for page in page_range %}
<li><a href="/detail/?page={{page}}">{{page}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No more pages.</p>
{% endif %}
</div>
</div>
</body>
</html>
